#navbar {
    background-color: rgb(255, 255, 255) !important;
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-between important;
    
    text-decoration: none;
}

#basic-navbar-nav {
    flex-grow: 0;
}