#photo {
    width: 1000px;    
}

#p1, #p2, #p3, #p4 {
    width: 250px;    
}

.destra {
    text-align: right;
}

@media only screen and (max-width: 576px) {
    #photo {
        max-width: 350px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    #photo {
        max-width: 500px;
    }
}

@media only screen and (max-width: 992px) {
    #p1, #p2, #p3, #p4 {
        margin: 0 auto;
    }

    .parDaSpostare {
        text-align: left !important;
    }
}