.p-progetto {
    text-align: center;
    width: 250px;
    justify-self: center;
}

.h1-progetto {
    text-align: center;
}

.h1ProgettoPiccolo {
    text-align: center;
}

.pDescrizioneProgetto {
    text-align: center;
    justify-self: center;
}

@media only screen and (max-width: 992px) {
    .h1-progetto {
        text-align: center !important;
        font-size: 60px !important;
    }

    .p-progetto {
        width: auto;
    }

    .pDescrizioneProgetto {
        text-align: justify;
    }

    .h1ProgettoPiccolo {
        text-align: center !important;
        font-size: 40px !important;
    }

    .carouselImage {
        max-width: 1000px !important;
        height: auto;
    }

    .h6freccia {
        font-size: smaller;
    }

}

.h6freccia {
    text-align: center;
}

.link {
    text-decoration: none;
    color: black;
}