#logoPC {
    width: 500px;    
}

@media only screen and (max-width: 576px) {
    #logoPC {
        max-width: 350px;
    }
}

.h3PC, .h4PC {
    text-align: center;
}

.pPC {
    text-align: justify;
}

#ML1, #ML2, #ML3  {
    width: 100px;
}

@media only screen and (max-width: 992px) {
    
    .rowPC {
        flex-direction: column;
        align-items: center;
    }

}