#ph1, #ph2, #ph3, #ph4, #ph5, #ph6, #ph7, #ph8, #ph9, #ph10 {
    width: 300px;    
}

h5 {
    text-align: center;
    width: 250px;
    justify-self: center;
}

.progetto:hover {
    transform: scale(105%);
    height: 100%;
    z-index: 2;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.link {
    text-decoration: none;
}

@media only screen and (max-width: 992px) {
    h1 {
        text-align: center !important;
        font-size: 60px !important;        
    }

    .rowProgetti {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .colH1 {
        justify-content: center;
    }

}